<ion-header>

  <ion-navbar>
    <ion-title>
        <img src="./assets/imgs/banner.png" style="height:25px; margin-top: 5px">
    </ion-title>
  </ion-navbar>
    <ion-searchbar (ionInput)="getItems($event)"></ion-searchbar>
</ion-header>


<ion-content padding>
    <div class="glasses" *ngIf="results==null">
      <img src="./assets/imgs/glasses.png">
      <h3>Oops...No popcorns here!</h3>
    </div>
    <div  *ngFor="let result of results">
      <ion-card *ngIf="result!=null">
        <ion-grid>
            <ion-row>
              <img col-4 *ngIf="result.poster_path!==undefined" class="book-thumbnail" [src]="posterPath(result.poster_path)"/>
              <img col-4 *ngIf="result.poster_path===undefined" class="book-thumbnail" src="../assets/imgs/image-not-available.jpg"/>
              <div col-8>
                <h4>{{result.original_title}}</h4>
                <p><ion-icon name="star"></ion-icon> {{result.vote_average}}</p>
                <p>{{result.release_date}}</p>
                <button ion-button round end outline (click)="seeMore(result.id)" (color)="primary">See More<ion-icon name="arrow-dropright"></ion-icon></button>
              </div>
            </ion-row>
          </ion-grid>
    </ion-card>
      </div>
      <ion-infinite-scroll (ionInfinite)="doInfinite($event)">
          <ion-infinite-scroll-content></ion-infinite-scroll-content>
      </ion-infinite-scroll>
</ion-content>
